*{
    background-origin: content-box;
}

.navbar{
    /* background-color: rgb(0, 0, 0); */
    position: relative;
    top:10px;
    display: inline;
    width: 55%;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* border-radius: 20px;  */
    /* border: solid 2.5px black;  */
    text-align : left;
    /* border: solid 3px rgb(0, 0, 0);  */
    /* border-style:groove;  */
    /*  */
    transition: background-color .5s;
}



.link{
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    position: relative;
    top: -15px;
    border-radius: 10px;    
    background-color: rgb(255, 255, 255);
    color: black;
    border: solid black 3px;
    transition: color 0.5s, background-color 0.5s,padding 0.5s;

    font-family: "Bungee", sans-serif;
    font-weight: 300;
}

.link:hover{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-color: rgb(1, 238, 255);
    background-color:black
}