.subject{
    margin-top: 10px;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color:black;
    color: white;
    font-family: "popins";
    font-weight: 500px;
    border-radius: 10px;
    transition: color .5s, background-color .5s,padding .5s,border .5s;
}
.subject:hover{
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 30px;   
}